<div class="panel panel-success">
	<div class="panel-heading">Filtros</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="">T&iacute;tulo</label>
			<input type="text" class="form-control" ng-model="titulo">	
		</div>
		<div class="form-group">
			<label for="">Descripci&oacute;n</label>
			<input type="text" class="form-control" ng-model="descripcion">
		</div>
		<div class="form-group">
			<label for="">Estado</label>
			<select type="text" class="form-control" ng-model="estado">
				<option value="">--------</option>
				<option value="abierto">Abierto</option>
				<option value="pendiente">Pendiente</option>
				<option value="en_proceso">En proceso</option>
				<option value="resuelto">Resuelto</option>
				<option value="cerrado">Cerrado</option>
			</select>
		</div>
		<div class="form-group">
			<label for="">Fecha de creaci&oacute;n</label>
			<input type="text" class="form-control" id="fecha" ng-model="fecha">
		</div>
	</div>
</div>